body{
    background-color: #2196F3;
    font-family: 'Pixelify Sans', cursive;
}
#emu{
    max-width: 300px;
   cursor: pointer;
   z-index: 99;
   user-select: none;
}
#counter{
    padding: 4px;
    text-align: center;
}
.item1{ grid-area: Hlava;;}
/*.item2{ grid-area: Prouzek1;}*/
.item3{ grid-area: Emu;
        display: flex;
        justify-content: center;
   }
.item4{ grid-area: Prouzek2;}
#prouzky{
    display: grid;
    grid-template-areas:
    'Hlava Hlava Hlava Hlava Hlava'
    'Emu Emu Emu Emu Emu'
    'Emu Emu Emu Emu Emu'
    'Prouzek2 Prouzek2 Prouzek2 Prouzek2 Prouzek2';
    gap: 5px;
  background-color: #2196F3;
  padding: 10px;
  
}
#prouzky > div{
    background-color: pink;
    border: 5px black solid;
    text-align: center;
    padding: 100px;
    font-size: 35px;
}
#prouzky > .item1{
    padding: 25px;
    font-size: 48px;
}

#prouzky > .item3{
background-image: url("./Background_Wonder_Stage_Halloween.webp");
background-repeat: no-repeat;
background-size: cover;
padding: 150px;
}

/*sekce pro upgrady*/
#upgrades{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    max-width: 450px;
}
#basicEmu{
    border-radius: 25px;
    border: solid black 1px;
}
/*pocitace cen*/
#priceCounterBasic{
    font-family: 'Pixelify Sans';
}
