#emu{
    max-width: 250px;
    position: absolute;
    top: 275px;
    left: 475px;
}
#counter{
    background-color: pink;
    border: solid black 2px;
    border-radius: 25px;
    padding: 4px;
    text-align: center;
}
.item1{ grid-area: Hlava;}
.item2{ grid-area: Prouzek1;}
.item3{ grid-area: Emu;}
.item4{ grid-area: Prouzek2;}
#prouzky{
    display: grid;
    grid-template-areas:
    'Hlava Hlava Hlava Hlava Hlava'
    'Prouzek1 Emu Emu Emu Emu'
    'Prouzek1 Emu Emu Emu Emu'
    'Prouzek2 Prouzek2 Prouzek2 Prouzek2 Prouzek2';
    gap: 15px;
  background-color: #2196F3;
  padding: 10px;
}
#prouzky > div{
    background-color: red;
    border: 5px black solid;
    text-align: center;
    padding: 100px;
    font-size: 35px;
}
#prouzky > .item1{
    padding: 75px;
}

#prouzky > .item3{
background-image: url("./Background_Wonder_Stage_Halloween.webp");
background-repeat: no-repeat;
background-size: cover;
padding: 150px;
}
button{
    background-color: aquamarine;
    width: 1em;
    height: 1em;
}
